// extra small screen / phone
@screen-xs: 480px;

// small screen / tablet
@screen-sm: 576px;

// medium screen / desktop
@screen-md: 768px;

// large screen / wide desktop
@screen-lg: 992px;

// extra large screen / full hd
@screen-xl: 1200px;

// extra extra large screen / large desktop
@screen-xxl: 1600px;
